@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&family=Orbitron:wght@500&display=swap');

/*Header Styling*/
.header-bg {
    background-color: #05386B;
    padding: 30px;
}

#header {
    color: #5CDB89;
    text-decoration: none;
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 80px;
}

.header-bg a:hover {
    text-decoration: none;
}

.nav {
    background-color: #5CDB89;
}

.nav-link {
    color: #05386B;
    font-size: 20px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.jumbotron {
    background-color: #5CDB89;
    color: #05386B;
}

.jumbotron hr {
    background-color: #05386B;
}

#jb-header {
    font-family:'Big Shoulders Stencil Display', cursive;
}

.buttons > * {
    font-family: 'Big Shoulders Stencil Display', cursive;
    display: inline-block;
   
}

.btn {
    margin-left: 20.5px;
    margin-top:10px;
}

.btn:hover {
    background-color: #5CDB89;
}


/* Stats Section Stylings */

body {
    background-color: #05386B;
}

.bodyTXT {
    font-family: 'Orbitron', sans-serif;
}
/* Standings styling*/
#table {
    height: 625px;
    background-color: #05386B;
    font-size: 18.5px;
    color: #5CDB89;
    padding: 0px;
}



#league-table {
    font-size: 18.5px;
 
}

#position-number {
    text-align: left;
    margin-left: 25px;
}

#position-name {
    text-align: left;
    padding-right: 0px;
}
/*Scorers stylings*/
#top-scorers {
    background-color: #05386B;
    height: 312.5px;
    font-size: 16.5px;
    color: #5CDB89;
    padding: 0px;
}
/*Assist stylings*/
#assists-number {
    text-align: left;
    margin-right: 25px;
}

#assists-name {
    text-align: right;
}


#most-assists {
    background-color: #05386B;
    height: 312.5px;
    font-size: 18.5px;
    color: #5CDB89;
    padding: 0px;
}

#map {
    height: 700px;
    margin-top: 20px;
}

/* About section stylings*/

.centerAlign {
    text-align: center;
}

#about-section {
    height: 500px;
    background-color:#5CDB89 ;
    color:#05386B;
}

.subTXT {
    font-size: 20px;
}

.buttons {
    display: inline-block;
}

/* Media queries*/

@media (max-width: 576px) {
#table {
    height: 520px;
}
#position-number {
    font-size: 15px;
}
#position-name {
    font-size: 15px;

}
#top-scorers{
     height:275px;
}
#scorer-number {
    padding-left: 50px;
    font-size: 15px;
}
#scorer-name {
    font-size: 15px;
}
#most-assists {
    height: 250px;
}

#assists-number {
    padding-left: 50px;
    font-size:15px;
}

#map{
    height: 400px;
}

#about-section{
  height: 1200px;  
}

.buttons {
    display: inline;
}

} 

@media (max-width:778px) {
    
    #table h2 {
        font-size: 25px;
    }
    #table {
        font-size: 15px;
    }

    #top-scorers h2{
        font-size: 25px;
    }

    #top-scorers {
        font-size: 15px;
    }

    #most-assists h2 {
        font-size: 25px;
    
    }
    #most-assists {
        font-size: 15px;
    }

    #about-section {
        height: 600px;
    }

}
